<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head">
</head>
<body>
<header th:replace="fragments/header"></header>
<main class="page">
    <h1 class="gallery-title" th:text="${title}"></h1>
    <section class="picture-list">
        <div class="picture-container" th:each="picture: ${pictures}">
            <h2 class="picture-title"
                th:text="${picture.title}"></h2>
            <img class="digital-art" th:src="@{'/assets/'+${picture.img}}" alt="picture" th:attr="alt=${picture.title}">
        </div>
    </section>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
